/* Variables */
:root {
  --editor-bg: #222336;
  --editor-border: #53576E;
}

/* Reset Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
  color: white;
  text-align: center;
  margin-top: 3px;
  padding-top: 5%;
}
.editor {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor__wrapper {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background: var(--editor-bg);
  padding: 2em;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #9ecaed;
}

.editor__body {
  flex: 1;
}

.editor__footer {
  display: flex;
}

.editor__footer--left {
  display: flex;
  flex-direction: column;
}

.editor__footer--right {
  flex: 1;
  margin-left: 10px;
  overflow: hidden;
}

.editor__btn {
  border: 0;
  padding: 0.5em;
  background-color: #13141F;
  margin-top: 1.8em;
  width: 80px;
  box-shadow: 0 0 6px #9ecaed;
  cursor: pointer;
  color: white;
  font-size: 17px;
}

.editor__console {
  background-color: #16141F;
  width: 100%;
  height: 140px;
  margin-top: 1.2em;;
  overflow: auto;
  color: white;
}

.editor__code {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--editor-border);
}
